# Secrets & Config
GoogleService-Info.plist
GeminiAPI.xcconfig
*.xcconfig

# Xcode
Info.plist
.DS_Store
DerivedData/
build/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/


# Firebase
.firebase/
firebase-debug.log
firebug-debug.log
firestore-debug.log
ui-debug.log


# Ignore all in functions except source code
functions/**
!functions/index.js
!functions/package.json
!functions/package-lock.json
