<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919688832944-75em36aq5q5qur3l1lvff4qodqho02sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919688832944-75em36aq5q5qur3l1lvff4qodqho02sh</string>
	<key>API_KEY</key>
	<string>AIzaSyD2ZFsNRGxM441k4kbU0Ysc4Kmffns7lj4</string>
	<key>GCM_SENDER_ID</key>
	<string>919688832944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.DriveBayApp</string>
	<key>PROJECT_ID</key>
	<string>drivebayapp-fee8a</string>
	<key>STORAGE_BUCKET</key>
	<string>drivebayapp-fee8a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919688832944:ios:aef3d435da74447f229875</string>
</dict>
</plist>